*.pyc
smart_chart/__pycache__/*.pyc
smart_chart/plot_navigator/__pycache__/*.pyc
smart_chart/__pycache__/smart_chart_view.cpython-310.pyc
smart_chart/plot_navigator/__pycache__/plot_navigator.cpython-310.pyc
smart_chart/plot_navigator/__pycache__/ui_plot_navigator.cpython-310.pyc
